/* You can add global styles to this file, and also import other style files */
 
table {
      border-collapse: collapse; 
}

table, th, td {
  border: 1px solid black;          
}

th {           
  width: 50px;
  background-color: #2E86C1;
  color: white;
}
td {            
  width: 100px;
}

th, td {
  padding: 10px;
  text-align: center; 
}

img {
  border-radius: 8px;
  width:50%; 
}

.send{
	width: 100px;
	height:30px;
	background-color: #2E86C1;
	color: white;
}

   